<p id="notice"><%= notice %></p>

<h1>Listing Pub Quests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Option</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pub_quests.each do |pub_quest| %>
      <tr>
        <td><%= pub_quest.name %></td>
      
        <td><%= link_to 'Show', pub_quest %></td>
        <td><%= link_to 'Edit', edit_pub_quest_path(pub_quest) %></td>
        <td><%= link_to 'Destroy', pub_quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pub quest', new_pub_quest_path %>
